<div class="container">
  <div class="mb-3 card">
    <div class="card-header-tab card-header">
      <div class="text-left">
        <a [routerLink]="['/admin']" class="btn btn-secondary btn-sm">Powrót do panelu</a>
      </div>
      <div class="text-center">
        <span class="text-center">Stwórz produkcje</span>
      </div>
    </div>
    <form [formGroup]="productionForm" (ngSubmit)="submitForm()">
      Value: {{productionForm.value | json}}
      <hr />
      <mat-form-field appearance="fill">
        <mat-label>Wprowadź tytuł</mat-label>
        <input matInput placeholder="Tytuł" formControlName="title">
        <mat-error *ngIf="title.invalid">Tytuł musi być podany</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Wprowadź link do plakatu</mat-label>
        <input matInput placeholder="https://static.posters.cz/image/750/plakaty/stranger-things-summer-of-85-i76122.jpg" formControlName="poster">
        <mat-error *ngIf="poster.invalid">Link do plakatu musi być podany</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Wprowadź opis fabuły</mat-label>
        <textarea matInput placeholder="Dawno, dawno temu..." formControlName="synopsis"></textarea>
        <mat-error *ngIf="synopsis.invalid">Opis fabuły musi być podany</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Wprowadź typ</mat-label>
        <mat-select formControlName="type">
          <mat-option value="0">Film</mat-option>
          <mat-option value="1">Serial</mat-option>
        </mat-select>
        <mat-error *ngIf="type.invalid">Typ musi być podany</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Wprowadź datę premiery</mat-label>
        <input formControlName="releaseDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Wprowadź Imbd id</mat-label>
        <input matInput placeholder="email@przykład.com" formControlName="imbdId">
        <mat-error *ngIf="imbdId.invalid">Imbd id musi być podane</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Wprowadź ocenę Imbd </mat-label>
        <input min="0" max="10" type="number" matInput placeholder="np. 6.5" formControlName="imbdRating">
        <mat-error *ngIf="imbdRating.errors?.min && imbdRating.touched"> Ocena imbd musi być większa niż {{imbdRating.errors.min.actual}}</mat-error>
        <mat-error *ngIf="imbdRating.errors?.max && imbdRating.touched"> Ocena imbd musi być mniejsza niż {{imbdRating.errors.max.actual}}</mat-error>
        <mat-error *ngIf="imbdRating.errors?.required">Ocena imbd musi być podana</mat-error>
      </mat-form-field>
      <div class="text-center">
        <button type="submit" [disabled]="productionForm.invalid" class="btn btn-outline-primary">Stwórz</button>

      </div>
    </form>

    
  </div>
</div>
