.nav-icon {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-right: 5px;
  margin-left: 5px;
}

.nav-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-icon:hover {
  cursor: pointer;
}

.link-active .iconify {
  color: #690505;
}

.center-text {
  display: flex;
  align-items: center;
}

.text-size {
    font-size: 15px;
    margin-left: 5px;
}
