
<ul class="navbar-nav" *ngIf="isAuthenticated | async">
  <li matTooltip="Zarządzaj" class="nav-item center-text">
    <a class="nav-link text-dark" [routerLink]='["/authentication/profile"]'>
      {{ userName | async }}</a>
  </li>
  <li class="nav-item nav-icon">
    <a class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }'
      title="Logout">
        <div matTooltip="Wyloguj">
            <span class="iconify" data-icon="clarity:logout-line" data-inline="false"></span>
        </div>
    </a>
  </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'>Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
  </li>
</ul>
