<h2 mat-dialog-title>Lista {{data?.type == 1 ? 'Obserwujących' : 'Obserwowanych'}}</h2>
<mat-dialog-content class="mat-typography">
<div *ngFor="let user of userList" [class.user-element]="data.type == 2" [class.user-element-followers]="data.type == 1">
    <div class="icon-column"><span class="iconify" data-icon="clarity:avatar-line" data-inline="false"></span></div>
    <span class="user-name">{{user?.userName}}</span>
    <div (click)="muteUser(user?.id, $event)" *ngIf="data.type == 2" class="icon-column" [class.mute-btn]="!user?.isMuted" [class.mute-btn-y]="user?.isMuted" matTooltip="Wyciszanie"><span class="iconify" data-icon="bx:bxs-volume-mute" data-inline="false"></span></div>
    <button *ngIf="data.type == 2" (click)="followingClick(user?.id, $event)" class="btn btn-outline-success following follow-btn">Obserwujesz</button>
    <button *ngIf="data.type == 1" (click)="followingClick(user?.id, $event)" class="btn btn-outline-success follow-btn" [class.following]="checkIfFollowing(user?.id)">{{checkIfFollowing(user?.id) ? 'Obserwujesz' : 'Obserwuj'}}</button>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Zamknij</button>
  </mat-dialog-actions>