.user-element {
    padding: 10px;
    display: grid;
    grid-template-columns: 30px 1fr 35px 120px;
}

.user-element-followers {
    padding: 10px;
    display: grid;
    grid-template-columns: 30px 1fr 120px;
}

.icon-column {
    font-size: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}

.user-name {
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.follow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.following {
    border-color: #dc3545;
    color: #dc3545;
}

.following:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.mute-btn-y {
    color: red;
}

.mute-btn {
    color:green;
    cursor: pointer;
}

.mute-btn:hover {
    color:red;
}

.mute-btn-y:hover {
    color: green;
}