.user-element {
    padding: 10px;
}

.user-element > .iconify {
    font-size: 20px;
    margin-right: 10px;
}

.following {
    border-color: #dc3545;
    color: #dc3545;
}

.following:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}