<h2 mat-dialog-title>Notyfikacje</h2>
<mat-dialog-content class="mat-typography">
<span *ngIf="notificationList?.length == 0">Brak nieodczytanych notyfikacji</span>
<div *ngFor="let notification of notificationList" class="notification-element">
    <div class="icon-column"><span class="iconify" data-icon="carbon:notification" data-inline="false"></span></div>
    <span class="notification-content">{{notification?.content}}</span>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Zamknij</button>
  </mat-dialog-actions>