<!-- <h1 class="prod-header" #target>{{production?.title}}</h1> -->

<div class="well full-width">
  <div class="curved">
    <svg class="circle-t" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" preserveAspectRatio="none">
        <circle fill="white" cx="100" cy="0" r="100"/>
    </svg>
    <svg class="circle-b-one" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" preserveAspectRatio="none">
      <circle fill="white" cx="100" cy="100" r="100"/>
    </svg>
    <div class="row-custom" >
      <div *ngIf="!contentLoaded" class="prod-section">
        <app-content-spinner></app-content-spinner>  
      </div>
      <section *ngIf="contentLoaded" class="prod-section width100">           
        <div class="col-sm-4">
          <div class="prod-left">
            <div class="img-container">
              <img src="{{production?.poster}}" class="img-thumbnail-prod"/> 
            </div>
            <div>
              <a href="https://www.imdb.com/title/{{production?.imbdId}}" target="_blank"><img class="imbd-icon" src="https://img.icons8.com/color/96/000000/imdb.png"/></a>
              <span class="rating-font"> {{production?.imbdRating}}/10</span>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="prod-right">
            <div class="prod-title">
              {{production?.title}}
            </div>
            <div class="prod-subtitle">
              <span *ngIf="production?.type == 0">Film: </span>
              <span *ngIf="production?.type == 1">Serial: </span>
              <span>{{production?.subtitle}} ({{production?.releaseDate.substr(0,4)}})</span>
              
            </div>
            <br/>
            <div>
              {{production?.synopsis}}
            </div>
            <div>
              <hr/>
              <span class="category-spn" *ngFor="let category of production?.categories; let lastItem = last">{{category.categoryName}}<span *ngIf="!lastItem">, </span></span>
              <hr/>
              <span *ngFor="let vod of production?.vods">          
                <img class="vods-icons" *ngIf="vod?.vodId == 1" src="https://img.icons8.com/nolan/256/netflix.png"/>
                <img class="vods-icons" *ngIf="vod?.vodId == 2" src="https://img.icons8.com/nolan/256/hbo-go.png"/>
              </span>
            </div>
          </div>
        </div>
      </section>
    </div>  
  </div>
</div>
