a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-icon {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-right: 5px;
  margin-left: 5px;
}

.nav-icon:hover {
  cursor: pointer;
}
.link-active .nav-text { 
  color: #690505;
}

.link-active .iconify {
  color: #690505;
}
.iconify:hover, .nav-text:hover {
  color: #690505;
}

.expand-text {
  margin-left: 15px;
  font-size: 20px;
}

.nav-list-container {
  display: flex;
  align-items: center;
}

.nav-text {
  margin-right: 5px;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
} */

