.btn {
    margin: 1em;
  }
  .card-header .btn{
    margin: 0;
  }
  .mat-form-field {
    margin: 1em;
    display: block;
    position: relative;
    text-align: center;
  }
  .text-right {
    text-align: right !important;
    display: inline;
    float: right;
  }
  .text-left {
    text-align: left !important;
    display: inline;
    /* float: left; */
  }
  