<div class="row form-wrapper">
  <div class="mb-3 card .mx-auto">
      <form [formGroup]="productionsFilterForm" (ngSubmit)="applyFilters()">
          <mat-form-field class="example-full-width text-center">
              <mat-label>Szukaj po tytule</mat-label>
              <input matInput formControlName="searchQuery" placeholder="Np. Stranger Things">
          </mat-form-field>
          <app-multi-slider [minValue]="minValueYear" [maxValue]="maxValueYear"></app-multi-slider>
          <div class="text-center">
              <button type="submit" [disabled]="productionsFilterForm.invalid" class="btn btn-outline-primary">Filtruj</button>
          </div>
         
      </form>

  </div>
</div>

<h1 class="prod-header" #target>Filmy i seriale</h1>

<div class="well full-width">
  <div class="curved">
    <svg class="skew-r" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="white" points="0,0 100,0 100,100"/>
    </svg>
    <svg class="circle-b" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" preserveAspectRatio="none">
      <circle fill="white" cx="0" cy="100" r="100"/>
      <circle fill="white" cx="200" cy="100" r="100"/>
    </svg>
    <div class="row" >
      <section class="prod-section">
        <div class="col-xl-2 col-md-3 col-sm-4 col-6" *ngFor="let production of activePageDataChunk">
          <div class="card-prod" >
            <div>
              <img src="{{production.poster}}" class="img-thumbnail-prod"/>    
              <div class="text-center">
                <span *ngIf="production.title.length>48;else short_title" class="title text-center">{{production.title.substr(0,48)}}... ({{production.releaseDate.substr(0,4)}})</span> 
                <ng-template #short_title><span class="title text-center">{{production.title}} ({{production.releaseDate.substr(0,4)}})</span></ng-template>             
              </div>
            </div>     
          </div>
        </div>
      </section>
    </div>  
  </div>
</div>
<mat-paginator #homePaginator [length]="productionsCount"
[pageSize]="postQueryFilters.pageSize"
(page)="onPageChanged($event,target)"
[hidePageSize]="true">
</mat-paginator>


