<div class="row">
  <div class="mb-3 card">
    <div class="text-center card-header-tab card-header">Opcje filtrowania</div>
      <div class="row">
  
      </div>
       
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let production of productionList">
    <div class="card-prod">
      <div>
        <img src="{{production.poster}}" class="img-thumbnail-prod"/>    
        <div class="text-center">
          <span *ngIf="production.title.length>48;else short_title" class="title text-center">{{production.title.substr(0,48)}}... ({{production.releaseDate.substr(0,4)}})</span> 
          <ng-template #short_title><span class="title text-center">{{production.title}} ({{production.releaseDate.substr(0,4)}})</span></ng-template>             
        </div>
      </div>

      
    </div>
  </div>
</div>
