.mat-form-field {
    margin: 1em;
    display: block;
    position: relative;
    text-align: center;
  }

.form-wrapper{
    justify-content: center !important;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: none;
}
.card {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    padding: 10px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgb(94, 49, 144);
    border-radius: .25rem;
    box-shadow: 0 8px 2px var(--shadow-2);
  }
  
  .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  }

  .inline-date{
      display: inline-block;
  }
  .inl-wrapper{
    justify-content: center !important;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }
 
  .authorParagraph{
    letter-spacing: 1px;
    padding: 0.1rem;
  }