.mat-form-field {
  margin: 1em;
  display: block;
  position: relative;
  text-align: center;
}

.form-wrapper {
  justify-content: center !important;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: none;
}

.card {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  padding: 10px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgb(94, 49, 144);
  border-radius: .25rem;
  box-shadow: 0 8px 2px var(--shadow-2);
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.inline-date {
  display: inline-block;
}

.inl-wrapper {
  justify-content: center !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.authorParagraph {
  letter-spacing: 1px;
  padding: 0.1rem;
}

.vod-logo {
  font-size: 32px;
  margin: 10px;
}

.logo-checkboxes {
  text-align: center;
  margin: 10px;
}

.icon-btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
}

.icon-btn:hover {
  background-color: darkgrey;
}

.hbo-btn {
  color: darkblue;
}

.netflix-btn {
  color: darkred;
}

.vod-gray {
  color: gray;
}

.transparent-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.default-wdh {
  max-width: 100%;
}

.to-watch-btn {
  margin: 0 0 5px 20px;
  top: 5px;
  right: 5px;
  width: auto;
  max-width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  border: 1px solid;
  border-radius: 16px;
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: 6px center;
  text-align: left;
  white-space: nowrap;
  -webkit-transition: background-color 110ms, opacity 110ms, max-width 300ms;
  transition: background-color 110ms, opacity 110ms, max-width 300ms;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  color: #000;
  will-change: width;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: #ffffff;
  /* background: url('https://api.iconify.design/mdi:movie-open-outline.svg') no-repeat; */
  background-position: 5px;
}

.to-watch-btn:hover {
  background-color: #00f699;
  border-color: #00f699;
  max-width: 100%;
  opacity: 1;
}

.favourites-btn {
  margin: 0 0 5px 20px;
  top: 32px;
  right: 5px;
  width: auto;
  max-width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  border: 1px solid;
  border-radius: 16px;
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: 6px center;
  text-align: left;
  white-space: nowrap;
  -webkit-transition: background-color 110ms, opacity 110ms, max-width 300ms;
  transition: background-color 110ms, opacity 110ms, max-width 300ms;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  color: #000;
  will-change: width;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: #ffffff;
  /* background: url('https://api.iconify.design/mdi:movie-open-outline.svg') no-repeat; */
  background-position: 5px;
}

.favourites-btn:hover {
  background-color: #00f699;
  border-color: #00f699;
  max-width: 100%;
  opacity: 1;
}

.camera-ico {
  margin: 0 0 5px -2px;
}

.star-ico {
  margin: 0 0 5px -3px;
}

.to-watch-y {
  background-color: #00f699;
}

.watch-span {
  margin: 0 0 5px 5px;
  -webkit-transition: opacity ease-in-out 100ms;
  transition: opacity ease-in-out 100ms;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}

.favourites-span {
  margin: 0 0 5px 5px;
  -webkit-transition: opacity ease-in-out 100ms;
  transition: opacity ease-in-out 100ms;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}

.card-container {
  contain: strict;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #201633b5;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  -webkit-transition: opacity 370ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 370ms cubic-bezier(0.4, 0, 0.2, 1);
  object-fit: cover;
}

.card-container:hover {
  opacity: 1;
}

.filter-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.clear-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}