<mat-tab-group mat-align-tabs="center" class="admin-panel-tabs">
  <mat-tab label="Ogólne">
    <div class="mb-3 card">
      <div class="text-center card-header-tab card-header">Informacje o platformach</div>
      
      
      
    </div>
  </mat-tab>
  <mat-tab label="Produkcje">
    <div class="mb-3 card">
      <div class="text-center card-header-tab card-header">Panel zarządzania produkcjami</div>
      
      <a [routerLink]="['/production-form']" class="btn btn-outline-primary">Stwórz produkcję</a>
    </div>
  </mat-tab>
  <mat-tab label="API">
    <div class="mb-3 card">
      <div class="text-center card-header-tab card-header">header</div>
      <div>Informacje o platformach</div>
    </div>
  </mat-tab>
</mat-tab-group>
<button (click)="test()">essa</button>
