<mat-tab-group mat-align-tabs="center" class="admin-panel-tabs">
  <mat-tab label="Ogólne">
    <div class="mb-3 card">
      <div class="text-center card-header-tab card-header">Informacje o platformach</div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="vod-blocks red">
              <div class="production-count">
                30210412402
              </div>
              <div class="production-title">
                Produkcji Netflixa
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="vod-blocks black">
              <div class="production-count">
                7676
              </div>
              <div class="production-title">
                Produkcji HBO
              </div>
            </div>

          </div>

        </div>
      
      
    </div>
  </mat-tab>
  <mat-tab label="Produkcje">
    <div class="mb-3 card">
      <div class="text-center card-header-tab card-header">Panel zarządzania produkcjami</div>
      <a [routerLink]="['/production-form']" class="btn btn-outline-primary">Stwórz produkcję</a>

      <mat-form-field>
        <mat-label>Wyszukiwarka produkcji</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Wyszukaj produkcję">
      </mat-form-field>
      <span class="text-center" *ngIf="!isShowed">Wyszukaj produkcje do edycji</span>
      <table *ngIf = "isShowed" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element; "> {{element.productionId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Tytuł">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Data premiery">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data premiery </th>
          <td mat-cell *matCellDef="let element"> {{element.releaseDate}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Akcje">
          <th mat-header-cell *matHeaderCellDef>Akcje</th>
          <td mat-cell *matCellDef="let row">
            <a [routerLink]="'/production-form/'+row.productionId" mat-icon-button matTooltip="Kliknij, aby edytować" class="iconbutton" color="primary">
              <mat-icon aria-label="Edytuj">edit</mat-icon>
            </a>
            <button (click)="deleteProduction(row.productionId)" mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
              <mat-icon aria-label="Usuń">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <a *ngIf="moreThan5result" href="#" class="badge badge-info"><span>Pokaż wszystkie wyniki wyszukiwania</span></a>
    </div>
  </mat-tab>
  <mat-tab label="API">
    <div class="mb-3 card">
      <div class="text-center card-header-tab card-header">Panel API</div>
      <div class="text-center">
        <button class="btn btn-outline-primary" (click)="updateCategories()">Aktualizuj kategorie</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
