<mat-tab-group mat-align-tabs="center" class="admin-panel-tabs">
  <mat-tab label="Informacje">
    <div class="mb-3 card">
      <div class="text-center card-header-tab card-header">header</div>
      <div>Informacje o platformach</div>
      <div class="text-center d-block card-footer">footer</div>
    </div>
  </mat-tab>
  <mat-tab label="Produkcje">
    <div class="mb-3 card">
      <div class="text-center card-header-tab card-header">Panel zarządzania produkcjami</div>
      <div>Informacje o platformach</div>
      <div class="text-center d-block card-footer">footer</div>
    </div>
  </mat-tab>
  <mat-tab label="API">
    <div class="mb-3 card">
      <div class="text-center card-header-tab card-header">header</div>
      <div>Informacje o platformach</div>
      <div class="text-center d-block card-footer">footer</div>
    </div>
  </mat-tab>
</mat-tab-group>
