<h1 #target>{{collectionType}}</h1>
<div class="row">
    <div class="col-12" *ngFor="let production of activePageDataChunk">
        <div class="item-container">
            <div class="image-column">
                <picture>
                    <img src="{{production?.poster}}" class="img-thumbnail-prod" />
                  </picture>
            </div>
            <div class="title-column">
                <span>{{production?.title}} ({{production?.releaseDate.substr(0,4)}})</span>
            </div>
            <div class="type-column">
                <span *ngIf="production?.type == 1">Serial</span>
                <span *ngIf="production?.type == 0">Film</span>
            </div>
            <div class="rating-column">
                <span>{{production?.imbdRating}}</span>
            </div>
            <div class="actions-column">
                <button>dsad</button>
            </div>
        </div>
    </div>
</div>
<mat-paginator #collectionPaginator [length]="productionsCount" [pageSize]="postQueryFilters?.pageSize"
  (page)="onPageChanged($event,target)" [hidePageSize]="true">
</mat-paginator>