<h1 #target>{{collectionType}}</h1>
<div class="row">
    <div class="col-12" *ngFor="let production of activePageDataChunk">
        <div class="item-container">
            <div class="image-column">
                <picture>
                    <img src="{{production?.poster}}" class="img-thumbnail-prod" />
                  </picture>
            </div>
            <div class="title-column">
                <span [routerLink]="'/production/'+production?.productionId" class="title-spn">{{production?.title}} ({{production?.releaseDate.substr(0,4)}})</span>
                <span class="subtitle-spn">{{production?.subtitle}}</span>
            </div>
            <div class="type-column">
                <span *ngIf="production?.type == 1">Serial</span>
                <span *ngIf="production?.type == 0">Film</span>
            </div>
            <div class="rating-column">
                <span>{{production?.imbdRating}}</span>
            </div>
            <div class="actions-column">
                <span class="iconify action-del-btn" data-icon="bi:trash" data-inline="false"></span>
            </div>
        </div>
    </div>
</div>
<mat-paginator #collectionPaginator [length]="productionsCount" [pageSize]="userQueryFilters?.pageSize"
  (page)="onPageChanged($event,target)" [hidePageSize]="true">
</mat-paginator>